/* pingfang-sc-light */
$pingfang-sc-light : 300;
/* pingfang-sc-regular */
$pingfang-sc-regular : 400;
/* pingfang-sc-medium, pingfang-sc-bold */
$pingfang-sc-medium : 700;
/* pingfang-sc-semibold, pingfang-sc-heavy */
$pingfang-sc-semibold : 900;